.customTable {
  width: 100%;
  background-color: var(--white);
  margin-top: 32px;
  margin-bottom: 32px;
}

.header {
  background-color: rgba(133, 170, 159, 0.1) !important;
}

.customTable th {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 16px 27px 16px 14px;
  height: 54px;
  text-wrap: nowrap;
  font-weight: 500;
}

.customTable th:first-child {
  border-radius: 8px 0 0 0;
}

.customTable th:last-child {
  border-radius: 0 8px 0 0;
}

.customTable td {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 16px 14px;
}

/* .en {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
} */

.ukIconWrap,
.uaIconWrap {
  width: 28px;
  height: 28px;
}

.progressIconWrap {
  width: 24px;
  height: 24px;
}

.ukIcon,
.uaIcon {
  max-width: 28px;
  max-height: 100%;
}

.progressIcon {
  max-width: 24px;
  max-height: 24px;
}

@media screen and (min-width: 768px) {
  .addWord {
    display: inline-flex;
  }
}

@media screen and (min-width: 1440px) {
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
